@import "../../mixins.scss";
.container {
  width: 243px;
  height: 100%;
  @include outline;
  overflow-y: scroll;
  padding-bottom: 20px;
  &::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 901px) {
  .container {
    width: 100%;
    min-height: 61%;
    padding-bottom: 0;
  }
}
