@import "./variables.scss";
@import "./mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $main-font;
  height: 100vh;
  @include flexCenter;
  background-color: $body-color;
  list-style-type: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $secondary-one;
}
#root {
  width: 100%;
  height: 100%;
  @include flexCenter;
}
