@import "./variables.scss";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin BG-Center-Cover-noRepeat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin outline {
  outline: 1px solid $lines;
}
@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 18.5px;
    @include outline;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary-one;
    width: 18.5px;
  }
}
