@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

//fonts
$main-font: "Fira Code", monospace;
$headline-text: 3.875rem;
$subheadline-text: 2rem;
$body-text: 1.125rem;
$lables-text: 1rem;
$codeSnippets-text: 0.875rem;

//colors
//body color
$body-color: #010c15;
//primary
$primary-one: #01080e;
$primary-two: #011627;
$primary-three: #011221;
//secondary
$secondary-one: #607b96;
$secondary-two: #3c9d93;
$secondary-three: #4d5bce;
$secondary-four: #ffffff;
$secondary-fifth: #e5e9f0;
//accent
$accent-one: #fea55f;
$accent-two: #43d9ad;
$accent-three: #e99287;
$accent-four: #c98bdf;
//lines
$lines: #1e2d3d;
//gradients
$gradient-one: #4d5bce;
$gradient-two: #43d9ad;
