@import "../../../mixins.scss";
.container {
  width: calc(100% - 311px);
  height: 100%;
  padding: 115.18px 127.65px;
  overflow-y: scroll;
  @include scrollBar;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370.35px, 1fr));
  gap: 50px 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 901px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: unset;
    align-items: unset;
    padding: 0;
    overflow: unset;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
